@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --radius: 1rem; }

body { @apply bg-white text-neutral-900 antialiased; }
.prose :where(code):not(:where(pre *)) { @apply rounded px-1 py-0.5 bg-neutral-100; }
